<link rel="stylesheet" href="/style.css"/>
<h1>Chitter</h1>
<br>
<% if @user %>
  <h3>Hello <%= @user.handle %></h3>
<% end %>
<br>
<form action="peeps/new" method="get">
  <input type="submit" value="Make a Peep">
</form>
<br>
<% @peeps.each do |peep| %>
<h4> <%= peep.post %> | <%= peep.time %> </h4>
<br>
<% end %>
<footer>
 Chitter2021 | francescoFH | Makers 2020
</footer>
