<link rel="stylesheet" href="/style.css"/>
<h1>Chitter</h1>
<br>
<form action="/peeps" method="post">
  <label for="peep">
    <h3>What's Happening?</h3>
    <input type="text" name="peep" />
  </label>
    <input type="submit" value="Peep" />
</form>
<footer>
 Chitter2021 | francescoFH | Makers 2020
</footer>
