<link rel="stylesheet" href="/style.css"/>
<title>Chitter</title>
<br>
<h1>Welcome to Chitter</h1>
  <form action="/peeps" method="get">
    <input type="submit" value="See what's going on"/>
  </form>
  <form action="/user/new" method="get">
    <input type="submit" value="Sign Up"/>
  </form>
<br>
<footer>
 Chitter2021 | francescoFH | Makers 2020
</footer>
