<link rel="stylesheet" href="/style.css"/>
<h1>Create your account:</h1>
<br>
<form action="/user" method="post">
  <input required type="text" name="username" placeholder="Username" /><br><br>
  <input required type="email" name="email" placeholder="Enter email" /><br><br>
  <input minlength="5" required type="password" name="password" placeholder="Enter password"><br><br>
  <input required type="password" name="password confirmation" placeholder="Confirm the password"><br><br>
  <input type="submit" class="button" value="Sign Up" />
</form>
<br>
<footer>
 Chitter2021 | francescoFH | Makers 2020
</footer>
