<head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <h1>Chitter</h1>
  <br>
  <h3>Create your account</h3>
  <br>
  <form action="/user" method="post">
    <input required type="text" name="handle" placeholder="@handle" maxlength="60" /><br><br>
    <input required type="text" name="name" placeholder="Name" maxlength="60" /><br><br>
    <input required type="email" name="email" placeholder="Enter email" maxlength="60" /><br><br>
    <input minlength="5" required type="password" name="password" placeholder="Enter password" maxlength="140" ><br><br>
    <input required type="password" name="password confirmation" placeholder="Confirm the password" maxlength="140" ><br><br>
    <input type="submit" class="button" value="Sign Up" />
  </form>
  <footer>
   Chitter2021 | francescoFH | Makers 2020
  </footer>
</body>
